body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: $main-font;
  color: $text-color;
  @include font_size-lh-fw(14px, 22px, 400);
  @media (max-width: $tablet-max-width) {
    @include font_size-lh-fw(12px, 16px);
  }
}



