.menu {
  background-color: $menu-bg;
  position: absolute;
  width: 100%;
  top: 230px;
  z-index: 1015;
  @media (max-width: $tablet-max-width) {
    top: 176px;
  }
  @media (max-width: $phone-max-width) {
    top: 0;
    position: relative;
  }
  &__inner {
    text-align: center;
    //@media (max-width: $tablet-max-width) {
    //  height: 40px;
    //}
    //@media (max-width: $phone-max-width) {
    //  height: 30px;
    //}
  }
  &__burger {
    display: none;
    @media (max-width: $tablet-max-width) {
      display: inline-block;

      line-height: 40px;
      margin: 5px 0;
    }
  }
  &__btn {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    width: 30px;
    height: 25px;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid #ffffff;
    border-top: 2px solid #ffffff;
    position: relative;
    &::before, &::after{
      position: absolute;
      content: "";
      width: 30px;
      height: 2px;
      background-color: #ffffff;
      left: 0;
      top: 10px;
      transition: all .5s;
    }
    &_enabled {
      border-color: transparent;
      &::before{
        transform: rotate(-45deg);
      }
      &::after {
        transform: rotate(45deg);
      }
    }
  }
  &__title {
    vertical-align: top;
    padding-left: 10px;
    @include font_size-lh-fw(25px, 40px, 400);
    color: #ffffff;
  }
  &__list {
    z-index: 1030;
    padding: 15px 0;
    transition: all .6s;
    @media (max-width: $tablet-max-width) {
      display: none;
      &.menu__list_enabled {
        display: block;
        padding: 5px 0 10px;
      }
      background-color: $menu-bg;

    }
  }
  &__item {
    position: relative;
    display: inline-block;
    @media (max-width: $tablet-max-width) {
      display: block;
    }
    padding: 0 20px;
    &::after {
      position: absolute;
      content: "|";
      top: 25%;
      right: -5px;
      font-size: 30px;
      color: #fff;
      @media (max-width: $tablet-max-width){
        display: none;
      }
    }
    &:last-child::after {
        display: none;
      }
    &-link {
      @include font_size-lh-fw(30px, 50px, 400);
      @media (max-width: $content-width){
        @include font_size-lh-fw(19px, 35px, 400);
      }
      @media (max-width: 846px){
      }
      color: #ffffff;
      &:hover{
        text-decoration: underline;
        text-underline-position: from-font;
        text-underline-offset: 2px;
      }
    }
  }
}
