// Обмежуюча оболонка
.slick-list {
  overflow: hidden;
}
// Стрічка слайдів
.slick-track{
  display: flex;
}

.slider {
  width: 100%;
  background-color: $slider-bg;
  display: flex;
  justify-content: center;
  &__inner {
    position: relative;
  }
  &__item {
    text-align: center;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.slick-arrow {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  // значення з-індексу для контенту з ввімкненим налаштуванням fade - 1000. кнопки мають бути над контентом
  z-index: 1010;
  font-size: 0;
  height: 60px;
  width: 34px;
  outline: none;
  border: none;
  @media (max-width: $phone-max-width) {
    height: 40px;
    width: 23px;
  }
  &.slick-prev {
    left: 210px;
    @media (max-width: $content-width) {
      left: 110px;
    }
    @media (max-width: $tablet-max-width) {
      left: 80px;
    }
    @media (max-width: $phone-max-width) {
      left: 50px;
    }
    background-image: url("../images/slider-prev-btn.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: $text-color;
  }
  &.slick-next {
    right: 210px;
    @media (max-width: $content-width) {
      right: 110px;
    }
    @media (max-width: $tablet-max-width) {
      right: 80px;
    }
    @media (max-width: $phone-max-width) {
      right: 50px;
    }
    background-image: url("../images/slider-next-btn.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $text-color;
  }
}