$bg-color: #dcdcdc;
$text-color: #767676;
$white-text: #ffffff;
$menu-bg: #777777;
$menu-burger-color: #ffffff;
$slider-bg: #f8f8f8;
$form-invalid-color: #ff8383;
$submit-hover-color: #929292;

$content-width: 1000px;
$tablet-max-width: 744px;
$phone-max-width: 440px;